body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img#logo {
    width: 450px;
    display:block;
    margin:auto;
    margin-bottom:25px;
}

form.search {
    margin-bottom :20px;
}

button.addpatient {
    margin-bottom: 10px;
}

div.container-inner {
    height: 650px;

}

div#intro {
    width: 500px;
    text-align: center;
    display: block;
    margin: auto;
}
