@{
    ViewBag.Title = "Home Page";
}

<img id="logo" src="~/images/doctorbears.jpg" alt="Hospital Manager Enterprise" />
<div id="intro">
        <p>
            Hospital Manager Enterprise (HME) is designed to handle any size of medical establishment,
            from a small medical center, to a multiple hospital/tenant distributed government run establishment
        </p>
        <p>
            HME makes it easy to manage patients include recording check in and out along with symptoms,
            dieseases diagnosed and treatments that have been applied.
        </p>

        <p>
            HME can also manage doctors on staff and the collection of beds in the system, including patients that have bed allocations.
        </p>

    <p class="text text-info">Please choose a menu option at the top to manage patients, doctors, beds and visits.</p>
</div>




