@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Hospital Manager (Enterprise Edition v1.0)</h3>

    
    <div class="well">
        <img id="logo" src="~/images/doctorbears.jpg" alt="Hospital Manager Enterprise" />
    </div>


</div>

  Hospital Manager Enterprise (HME) is designed to handle any size of medical establishment.
        From a small medical center, to a multiple hospital/tenant distributed government run establishment.

<p class="text text-info">Please choose a menu option at the top to manage patients, doctors, beds and visits.</p>

